
<!--   0.2  Add the [class.selected]="hero === selectedHero" binding to the <li> in the HeroesComponent template:
            When the current row hero is the same as the selectedHero, Angular adds the selected CSS class.
-->
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.selected]= "hero === selectedHero"
      (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>


<!--     *  The external HeroesComponent will bind to Hero-DetailsComponent it like this thanks to the @Input() property
            The HeroesComponent is still a master/detail view. It used to display the hero details on its own,
            before you cut that portion of the template. Now it will delegate to the HeroDetailComponent.
            The two components will have a parent/child relationship. The parent HeroesComponent will control
            the child HeroDetailComponent by sending it a new hero to display whenever the user selects a hero from the list.
       4.0  Bind the HeroesComponent.selectedHero to the element's hero property like this.
            [hero]="selectedHero" is an Angular property binding.
            It's a one way data binding from the selectedHero property of the HeroesComponent to the hero property of the target element,
            which maps to the hero property of the HeroDetailComponent.
-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>







<!--   0.1  Add Angular's *ngIf directive as a wrapping <div> and set it to 'selectedHero'    <div *ngIf="selectedHero">
            When selectedHero is undefined, the ngIf removes the hero detail from the DOM.
            When the user picks a hero, selectedHero has a value and ngIf puts the hero detail into the DOM.
       1.0  Moved the template in 'hero-detail.component.html'
----

      <div *ngIf="selectedHero">

        <h2>{{selectedHero.name | uppercase}} Details</h2>
        <div><span>id: </span>{{selectedHero.id}}</div>
        <div>
          <label>name:
            <input [(ngModel)]="selectedHero.name" placeholder="name"/>
          </label>
        </div>

      </div>
-->



